/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
@font-face {
	font-family: headerText;
	src: url(../dream_MMA.ttf);
}

body {
	background-color: #000;
	margin: 0;
	
}

.selectGame {
	margin-top: 2em;
}

.indexHeader {
	background-image: url(../images/tyc.jpg);
	width: 100%;
	height: 420px;

	background-repeat: no-repeat;

	background-attachment: fixed;
	background-size: cover;

	border-bottom: solid 3px #fff;
}

.indexMessage {
	color: white;
	font-family: headerText;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(212,175,55, 1);
}

.indexMessage h1 {
	margin-top: 1em;
	font-size: 24px;
	
}

.frameSignUp {
	background: url(../images/frame.png);
	height: 500px;
	margin-top: 5em;
	background-repeat: no-repeat;
	margin-left: 4.2em;
	display: none;
}

.frameLogin {
	background: url(../images/frame.png);
	height: 500px;
	margin-top: 5em;
	background-repeat: no-repeat;
	margin-left: 4.2em;
	display: none;
}


.game_logo1 {
	margin-left: 5em;
}

.game_logo2 {
	margin-left: 9em;
	
}

.headerTextOne, .headerTextTwo {
	text-align: center;
	margin-left: -1em;
	font-family: headerText;
	color: white;
}

.headerTextTwo {
	font-size: 23.5px;
	margin-right: 0.5em;
	
}

.blueText {
	text-shadow: 2px 2px  15px rgba(30, 144, 255, 1);
}

.redText {
	text-shadow: 0px 0px 10px rgba(255, 0, 0, 1);
}

.login-out-buttons {
	margin-top: -6.3em;
	margin-left: 80em;

}

.button-login-user, .logout-signup{

}
a {
	color: #000;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
}

.button-login-user, .logout-signup {
	color: #000;
	font-weight: bold;
	padding:.4em;
	padding-left: .6em;
	padding-right: .6em;
	background-color: white;
	border: 2px solid black;
	border-radius: 3px;
}

.signuptitle {
	margin-left: 32.1em;
	color: #FFF;
}

 .user-game-data {
 	margin-left: 45em;
 	margin-top: -23.5em; 	
 }

 .user-data-login {
 	margin-left: 15em;
 }

 .signup-button {
 	margin-left: 31em;
 	margin-top:  7em;
 }

 .login-box-text {
 	color: #FFF;
 	margin-left: 9.5em;
 }

 .login-box {
 	margin-left: 30.5em;
 }

 .api-error {
 	font-family: headerText;
 	margin-left: 12.5em;
 	color: #FFF;
 }

.imagesApiError {
	margin-left: 42em;
}
 .ayeSiiir {
 	float: left;

 }

 .puckyou {
 	float: left;
 	margin-top: 25em;
 }

 .sadLycan {

 	margin-left: 13em;	
 	margin-top: 19em;
 }

 .goUp {
 	margin-left: 69em;
 }