/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
	background-color: #FFF4D4;
	margin: 0;
}

#username {
	font-weight: bold;
}
.row {
	margin-right: 0;
}
.slyg {
	text-align: center;
} 
.logo {

	font-weight: bolder;
	margin-left: 14.5em;
	color: #5F70B2;
	text-shadow: 0px 0px 1px white,
				 0px 0px 5px white,
				 0px 0px 7px white,
				 0px 0px 10px white;
}
.logo a {
	text-decoration: none;
}
.fullw {

	margin: 0 auto;
    width: 100% !important;
}

.indexContainerBorder {
	background-color: #B2A171;
    /*border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;*/
}

.lr-buttons {
	margin-top: 1em;
}

.lr-buttons button {
	background-color: #FFEDBB;
	border: 2px solid;
}


#game_logo {
	height: 10em;
	margin-left: 18em;
}

.games_container {
	background-color: #BBC9FF;
	margin: 0 auto;
    width: 100%;
    

    /* border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;*/
}

.lolsearch {
	margin-left: -2.5em;
}
#searchText {
	display: show;
}

.currentData {
	border: 2px solid black;
	border-radius: 5px;
	width: 40%;
	margin-top: 2em;
	float: left;
	margin-left: 6em;
	background-color: #BBC9FF;
}

.currentDataTitle {
	text-align: center;
}
.currentDataValues {
	margin-left: 2em;
}

.currentDataValues p {
	font-weight: bold;
}

.currentDataValues p span {
	text-style: none;
}


.seasonData {
	border: 2px solid black;
	border-radius: 5px;
	width: 40%;
	margin-top: 2em;
	float: left;
	margin-left: 5em;
	background-color: #BBC9FF;
	overflow: auto;
}

.searchBar {
	padding-left: 29.5em;
}

.seasonDataTitle {
	text-align: center;
}

.seasonDataValues {
	margin-left: 2em;
	display: block;
	
}

.footer {
	height: 30px;
	background-color: #B2A171;
	margin-top: 32em;
}

.main_footer {
	height: 30px;
	background-color: #B2A171;
	margin-top: 23.9em;
}

.img-selectBar {
	margin-top: 9em; 
	margin-left: 27.5em;
}

.searchPlayersForm {
	border: 2px solid;
	width: 20%;
	margin: auto auto;
}

.contentForm {
	margin: auto auto;
}
