/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.login-box-text {
	margin-left: 32em;
	margin-top: 2.5em;
}

.login-box {
	margin-left: 37.5em;
	margin-top: 2em;
}